<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="番茄自主采摘机器人">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.300092728018664 0.0553638309303227 1.97500242900424"
        rpy="0 0 0" />
      <mass
        value="40.1204748873659" />
      <inertia
        ixx="2.1405768630387"
        ixy="-0.000268942274401804"
        ixz="-0.0210056421176896"
        iyy="3.45696796906768"
        iyz="0.0968986634328506"
        izz="1.82125281941325" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name=" arm_base_link"
    type="fixed">
    <origin
      xyz="0.3 -1.8026 0.46459"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link=" arm_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="f1_steer_link">
    <inertial>
      <origin
        xyz="-0.00491271672240606 -0.159327056449216 -0.130962745845996"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0480750963632358"
        ixy="8.07639357048341E-18"
        ixz="8.25658863647389E-05"
        iyy="0.0283624620972141"
        iyz="-7.00605413950475E-18"
        izz="0.0283628079224092" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/f1_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/f1_steer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f1_steer_link"
    type="revolute">
    <origin
      xyz="0.48276 -2.3417 -0.073673"
      rpy="1.5708 0 0.0098271" />
    <parent
      link="base_link" />
    <child
      link="f1_steer_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="1" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="f1_wheel_link">
    <inertial>
      <origin
        xyz="-6.66133814775094E-16 0.0535387969241308 -6.66133814775094E-16"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0283624620972141"
        ixy="-2.60689636110562E-16"
        ixz="0"
        iyy="0.0480754421884309"
        iyz="-2.68319708899428E-16"
        izz="0.0283624620972141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/f1_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/f1_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f1_wheel_link"
    type="continuous">
    <origin
      xyz="-0.058451 -0.15933 -0.13119"
      rpy="0.0057216 -0.74948 -1.5747" />
    <parent
      link="f1_steer_link" />
    <child
      link="f1_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="2" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="f2_steer_link">
    <inertial>
      <origin
        xyz="-0.00491271672240784 -0.159327056449217 -0.130962745845996"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0480750963632358"
        ixy="-6.70584081662534E-18"
        ixz="8.25658863644941E-05"
        iyy="0.0283624620972141"
        iyz="1.21341060424896E-18"
        izz="0.0283628079224092" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/f2_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/f2_steer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="f2_steer_link"
    type="revolute">
    <origin
      xyz="0.11872 -2.0732 -0.073673"
      rpy="1.5708 0 3.1401" />
    <parent
      link="base_link" />
    <child
      link="f2_steer_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="1" />
  </joint>
  <link
    name=" f2_wheel_link">
    <inertial>
      <origin
        xyz="4.44089209850063E-16 0.0535387969241308 6.66133814775094E-16"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0283624620972141"
        ixy="1.79889469206079E-16"
        ixz="-1.73472347597681E-18"
        iyy="0.0480754421884309"
        iyz="2.23562487966511E-16"
        izz="0.0283624620972141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/ f2_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/ f2_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name=" f2_wheel_link"
    type="continuous">
    <origin
      xyz="-0.058451 -0.15933 -0.13119"
      rpy="0.0057216 -0.74948 -1.5747" />
    <parent
      link="f2_steer_link" />
    <child
      link=" f2_wheel_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="2" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="r1_steer_link">
    <inertial>
      <origin
        xyz="-0.00491271672240606 -0.159327056449216 -0.130962745845996"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0480750963632358"
        ixy="2.55636683143613E-17"
        ixz="8.25658863647368E-05"
        iyy="0.0283624620972141"
        iyz="1.96592343540147E-18"
        izz="0.0283628079224092" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/r1_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/r1_steer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r1_steer_link"
    type="revolute">
    <origin
      xyz="0.48023 -1.8917 -0.073673"
      rpy="1.5708 0 0.0098271" />
    <parent
      link="base_link" />
    <child
      link="r1_steer_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="1" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="r1_wheel_link">
    <inertial>
      <origin
        xyz="2.22044604925031E-16 0.0535387969241307 4.44089209850063E-16"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0283624620972141"
        ixy="2.31477163825655E-17"
        ixz="8.67361737988404E-19"
        iyy="0.0480754421884309"
        iyz="6.24229400808529E-17"
        izz="0.0283624620972141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/r1_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/r1_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r1_wheel_link"
    type="continuous">
    <origin
      xyz="-0.058451 -0.15933 -0.13119"
      rpy="0.0057216 -0.74948 -1.5747" />
    <parent
      link="r1_steer_link" />
    <child
      link="r1_wheel_link" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="2" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="r2_steer_link">
    <inertial>
      <origin
        xyz="8.88178419700125E-16 -0.125796592212876 -0.128999999999994"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0283624620972141"
        ixy="-1.45079803205717E-16"
        ixz="-2.13842286274073E-18"
        iyy="0.0480754421884309"
        iyz="-9.8259551443336E-16"
        izz="0.0283624620972141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/r2_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/r2_steer_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r2_steer_link"
    type="revolute">
    <origin
      xyz="0.00018149 -1.7535 -0.104"
      rpy="0 0 1.5652" />
    <parent
      link="base_link" />
    <child
      link="r2_steer_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="1" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name=" r2_wheel_link">
    <inertial>
      <origin
        xyz="-4.44089209850063E-16 0.0535387969241308 -4.44089209850063E-16"
        rpy="0 0 0" />
      <mass
        value="5.5314194475936" />
      <inertia
        ixx="0.0283624620972141"
        ixy="-1.00552975234453E-16"
        ixz="-8.67361737988404E-18"
        iyy="0.0480754421884309"
        iyz="-1.04706824807788E-16"
        izz="0.0283624620972141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/ r2_wheel_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/ r2_wheel_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name=" r2_wheel_link"
    type="continuous">
    <origin
      xyz="0 -0.17934 -0.129"
      rpy="0 0.8213 0" />
    <parent
      link="r2_steer_link" />
    <child
      link=" r2_wheel_link" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="20"
      velocity="2" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="tomato_box_link">
    <inertial>
      <origin
        xyz="3.15963220309801E-06 0.106908460415726 2.06349316833609E-06"
        rpy="0 0 0" />
      <mass
        value="5.58008663179679" />
      <inertia
        ixx="0.158837918607491"
        ixy="-3.34204565022255E-07"
        ixz="-1.18118878306009E-06"
        iyy="0.380887220475026"
        iyz="-2.18389756534568E-07"
        izz="0.299427275249589" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/tomato_box_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/tomato_box_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="tomato_box_link"
    type="fixed">
    <origin
      xyz="0.3 -2.1539 0.20059"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="tomato_box_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="mid360_link">
    <inertial>
      <origin
        xyz="0.000199576427979853 -0.0038855197533666 -6.23529264165423E-06"
        rpy="0 0 0" />
      <mass
        value="0.141886777789408" />
      <inertia
        ixx="4.17970396645435E-05"
        ixy="-3.05358986911418E-07"
        ixz="5.69578431525614E-09"
        iyy="6.8799673557353E-05"
        iyz="-5.95419869678331E-10"
        izz="4.50776844157856E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/mid360_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/mid360_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="mid360_link"
    type="fixed">
    <origin
      xyz="0.303411467569164 -1.58462065522294 0.446051670859531"
      rpy="1.57104369549906 -0.261799273614638 -1.5801289883434" />
    <parent
      link="base_link" />
    <child
      link="mid360_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name=" arm_base_link">
    <inertial>
      <origin
        xyz="8.01476371292686E-06 0.00191022747330194 0.0510053115362151"
        rpy="0 0 0" />
      <mass
        value="2.4538274145019" />
      <inertia
        ixx="0.00392704397571845"
        ixy="-1.03813733960748E-07"
        ixz="-4.85775313390609E-07"
        iyy="0.003631502645955"
        iyz="1.68535194559385E-05"
        izz="0.00581844831023409" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/ arm_base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/ arm_base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name=" arm_base_link"
    type="fixed">
    <origin
      xyz="0.3 -1.8026 0.46459"
      rpy="3.1416 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link=" arm_base_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="arm_link1">
    <inertial>
      <origin
        xyz="0.00325782024843652 -3.79272953265897E-07 0.0688238933357034"
        rpy="0 0 0" />
      <mass
        value="4.3531423716315" />
      <inertia
        ixx="0.00761145020154282"
        ixy="3.78898278630644E-08"
        ixz="-0.00119047304267962"
        iyy="0.00786264928783913"
        iyz="3.27164361943662E-07"
        izz="0.00886545430559794" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link1"
    type="revolute">
    <origin
      xyz="0 0 0.0095"
      rpy="3.1416 0 -1.5708" />
    <parent
      link=" arm_base_link" />
    <child
      link="arm_link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="90"
      velocity="2" />
    <dynamics
      damping="0.05"
      friction="0.1" />
  </joint>
  <link
    name="arm_link2">
    <inertial>
      <origin
        xyz="0.21351 -5.0946E-09 0.072019"
        rpy="0 0 0" />
      <mass
        value="14.916" />
      <inertia
        ixx="0.023229"
        ixy="6.7716E-08"
        ixz="-3.1257E-09"
        iyy="0.074469"
        iyz="3.6912E-09"
        izz="0.076466" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.86667 0.9098 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link2"
    type="revolute">
    <origin
      xyz="0.0705 0 0.0765"
      rpy="0 -1.5708 0" />
    <parent
      link="arm_link1" />
    <child
      link="arm_link2" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.3562"
      upper="2.3562"
      effort="90"
      velocity="2" />
    <dynamics
      damping="0.05"
      friction="0.1" />
  </joint>
  <link
    name="arm_link3">
    <inertial>
      <origin
        xyz="0.0023062513512544 3.32245221335015E-07 0.0873115945025753"
        rpy="0 0 0" />
      <mass
        value="7.70447653742589" />
      <inertia
        ixx="0.0257988916719695"
        ixy="-4.05836182495364E-08"
        ixz="0.000333817481780128"
        iyy="0.0251008399816815"
        iyz="-7.22058572046201E-08"
        izz="0.00880412506099825" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link3"
    type="revolute">
    <origin
      xyz="0.492 0 -0.0455"
      rpy="0 1.5708 0" />
    <parent
      link="arm_link2" />
    <child
      link="arm_link3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.7925"
      upper="2.7925"
      effort="50"
      velocity="2.6" />
    <dynamics
      damping="0.05"
      friction="0.1" />
  </joint>
  <link
    name="arm_link4">
    <inertial>
      <origin
        xyz="0.00155433635184529 -4.02191172366173E-07 0.0659218532319044"
        rpy="0 0 0" />
      <mass
        value="1.81046437604244" />
      <inertia
        ixx="0.00176488007308929"
        ixy="-1.61587364102494E-08"
        ixz="-0.000299182026416464"
        iyy="0.00180734782304934"
        iyz="1.01112304891632E-08"
        izz="0.0017664144526865" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link4"
    type="revolute">
    <origin
      xyz="-0.116 0 0.36"
      rpy="3.1416 0 0" />
    <parent
      link="arm_link3" />
    <child
      link="arm_link4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.7925"
      upper="2.7925"
      effort="20"
      velocity="3.1" />
    <dynamics
      damping="0.05"
      friction="0.1" />
  </joint>
  <link
    name="arm_link5">
    <inertial>
      <origin
        xyz="0.00129697529980399 4.76524613102214E-08 0.0725788870290074"
        rpy="0 0 0" />
      <mass
        value="1.96260288159909" />
      <inertia
        ixx="0.00192756720992975"
        ixy="-2.6114699728599E-08"
        ixz="-0.00032199793714325"
        iyy="0.0019728546201003"
        iyz="1.80942265911689E-08"
        izz="0.00192222723954402" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link5"
    type="revolute">
    <origin
      xyz="-0.068 0 -0.048"
      rpy="0 -1.5708 0" />
    <parent
      link="arm_link4" />
    <child
      link="arm_link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="10"
      velocity="3.7" />
    <dynamics
      damping="0.05"
      friction="0.1" />
  </joint>
  <link
    name="arm_link6">
    <inertial>
      <origin
        xyz="-0.0264612123093893 -0.00491200741219022 -0.000411382266155114"
        rpy="0 0 0" />
      <mass
        value="0.784917430295635" />
      <inertia
        ixx="0.000713854013444936"
        ixy="3.39523921868373E-06"
        ixz="5.6651615112636E-07"
        iyy="0.00056673452844666"
        iyz="8.35276349604747E-07"
        izz="0.000390652695702078" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.909803921568627 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/arm_link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="arm_link6"
    type="revolute">
    <origin
      xyz="0 0 -0.082"
      rpy="1.5708 1.5708 0" />
    <parent
      link="arm_link5" />
    <child
      link="arm_link6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.1416"
      upper="3.1416"
      effort="10"
      velocity="3.7" />
    <dynamics
      damping="0.1"
      friction="0.05" />
  </joint>
  <link
    name="gripper_link">
    <inertial>
      <origin
        xyz="0.0261108219844899 7.99360577730113E-14 0.0630336785288375"
        rpy="0 0 0" />
      <mass
        value="0.10715081758309" />
      <inertia
        ixx="2.35235412847438E-05"
        ixy="-1.6157176246029E-17"
        ixz="-2.872643419186E-17"
        iyy="4.46310154142415E-05"
        iyz="8.22165217634575E-12"
        izz="5.80085132763047E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/gripper_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/gripper_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gripper_link"
    type="prismatic">
    <origin
      xyz="0.102 0 -0.063034"
      rpy="0 0 3.1416" />
    <parent
      link="arm_link6" />
    <child
      link="gripper_link" />
    <axis
      xyz="0 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="0.000130423893305309 0.00174945935680126 0.0119990704565241"
        rpy="0 0 0" />
      <mass
        value="0.0418632278383979" />
      <inertia
        ixx="7.54520953111176E-06"
        ixy="3.11697026636847E-09"
        ixz="1.34006583857214E-08"
        iyy="7.64397192782691E-06"
        iyz="-1.11191276366423E-07"
        izz="1.14857346983133E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_link"
    type="fixed">
    <origin
      xyz="-0.0097794 -0.086303 -0.003"
      rpy="3.1226 -1.5708 0" />
    <parent
      link="arm_link6" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_optical_link">
    <inertial>
      <origin
        xyz="-8.27600293558106E-05 -0.000518418102923635 0.011399762161038"
        rpy="0 0 0" />
      <mass
        value="0.0387408552979237" />
      <inertia
        ixx="7.10415005622614E-06"
        ixy="-1.66104223208749E-10"
        ixz="1.50899324907574E-08"
        iyy="7.1146947133229E-06"
        iyz="-1.30959073973988E-07"
        izz="1.08407629088804E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/camera_optical_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://番茄自主采摘机器人/meshes/camera_optical_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_optical_link"
    type="fixed">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="camera_link" />
    <child
      link="camera_optical_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>